<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestão de Dinheiro</title>
  <!-- Link para o arquivo CSS do Bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

  <link
    rel=
"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
    type="text/css"
  />
  <script src=
"https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script
    src=
"https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"
    type="text/javascript"
  ></script>
  <script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  
  <script src=
"https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js"></script>
  <style>
    /* Adicione estilos personalizados aqui, se necessário */
    body {
      background-color: #f0f0f0;
    }
    .navbar-nav .nav-link {
      color:white; /* Substitua #ff0000 pela cor que desejar */
    }
    .card {
      border: none;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease-in-out;
    }

    .card:hover {
      transform: translateY(-5px);
    }
    
    
 
  </style>
</head>

<body>
  <header>
    <!-- Barra de navegação do Bootstrap -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
        <a class="navbar-brand" href="#">MoneyGest</a>
        <!-- Botão de menu responsivo -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <div class="d-flex align-items-center">
                <div id="navOptions" style="display:none;">
                    <ul class="navbar-nav ms-auto">
                      <li class="nav-item">
                        <a class="nav-link" href="/">Início</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Transações</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Orçamento</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Relatórios</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/carGest">Car Gest</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Configurações</a>
                      </li><li class="nav-item">
                        <a class="nav-link" href="/pagina_login">Sair</a>
                      </li>
                    </ul>
                  </div>
              <label id="usernameLabel" class="text-light me-2">{{ user }}</label>
              <button id="toggleNavButton" class="btn btn-primary"><i class="fas fa-bars"></i></i></button>
            </div>
          </ul>
        </div>
      </div>
    </nav>
  </header>


        <!-- Aqui podes fazer uma validação, se o utilizador tiver algum gasto agendado este card mostra, se nao nao mostra 
        MOSTRA Grafico
      -->

  <main class="container mt-4">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Balanço </h5>
            <p class="card-text">Aqui pode visualizar o seu balanço financeiro atual.</p>
            <button class="btn btn-primary" id="btnVerBalanco"> Ver Balanço</button>
          </div>
        </div>
      </div>

            <!-- Aqui podes fazer uma validação, se o utilizador tiver algum gasto agendado este card mostra, se nao nao mostra 
        MOSTRA TABELA
      -->
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Transações Recentes</h5>
            <p class="card-text">Veja suas transações mais recentes e mantenha o controle do seu dinheiro.</p>
            <button class="btn btn-primary" id="btnVerTransacaoRecente">Ver Transações</button>
          </div>
        </div>
      </div>
    </div>

    <br>


         <!-- Aqui podes fazer uma validação, se o utilizador tiver algum gasto agendado este card mostra, se nao nao mostra 
        MOSTRA Grafico
      -->
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Historico Financeiro</h5>
            <p class="card-text">Aqui você pode visualizar o seu historico financeiro, permite ver balanço total nos diferentes meses.</p>
            <button class="btn btn-primary" id="btnVerHistoricoTransacoes"> Ver Historico Financeiro</button>
          </div>
        </div>
      </div>

           <!-- Aqui podes fazer uma validação, se o utilizador tiver algum gasto agendado este card mostra, se nao nao mostra 
        MOSTRA TABELA
      -->
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Historico Gastos</h5>
            <p class="card-text">Veja o seu historico de gastos.</p>
            <button class="btn btn-primary" id="btnVerHistoricoGastos">Ver Historico Gastos</button>
          </div>
        </div>
      </div>
    </div>

      
      <!-- Aqui podes fazer uma validação, se o utilizador tiver algum gasto agendado este card mostra, se nao nao mostra 
        MOSTRA TABELA
      -->
      <div class="row">
      <div class="col-md-6">
      <br>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Agenda Gastos</h5>
            <p class="card-text">Veja os proximos gastos agendados.</p>
            <button class="btn btn-primary" id="btnVerAgendaGastos">Ver proximos Gastos</button>
          </div>
        </div>
      </div>
    </div>
  </div>


    <div class="modal fade" id="modalBalanco" tabindex="-1" role="dialog" aria-labelledby="modalBalancoLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalBalancoLabel">Balanço Financeiro</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
        </div>
        <div class="modal-body">
          <!-- Tabela para o balanço financeiro -->
          <div class="modal-body">
            <!-- Contêiner do Gráfico -->
            <canvas id="meuGrafico"></canvas>
          </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal para as transações -->
  <div class="modal fade" id="modalTransacoes" tabindex="-1" role="dialog" aria-labelledby="modalTransacoesLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTransacoesLabel">Transações Recentes</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
        </div>
        <div class="modal-body">
          <!-- Tabela para as transações -->
          <table class="table">
            <thead>
              <tr>
                <th>Data</th>
                <th>Descrição</th>
                <th>Valor</th>
              </tr>
            </thead>
            <tbody>
              <!-- Preencha aqui os dados da tabela para as transações -->
              <tr>
                <td>2023-07-31</td>
                <td>Compra no Supermercado</td>
                <td>R$ -100,00</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>
  </main>



  <div class="modal fade" id="modalAddTransacao" tabindex="-1" role="dialog" aria-labelledby="modalTransacoesLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTransacoesLabel">Adicionar Transacao</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                    <div class="mb-3">
                        <label for="kmAtuais_abastecimento" class="form-label">Descrição</label>
                        <input type="text" class="form-control" id="txt_descricao" required>
                    </div>
                    <div class="mb-3">
                        <label for="precoCombustivel" class="form-label">Custo</label>
                        <input type="text" class="form-control" id="txt_custo" required>
                    </div>
                  <div class="mb-3">
                    <label for="tipoCombustivel" class="form-label">Quantidade</label>
                    <input type="text" class="form-control" id="txt_quantidade" required>
                </div>
                <div class="mb-3">
                  <label for="tipoCombustivel" class="form-label">Carteira</label>
                  <input type="text" class="form-control" placeholder="Selecione o seu carro" id="carteira" required>

                  <ul id="dropdown" style="display: none;">
                    <!-- Já não está aqui a fazer nada pois as opções estão a ser injetadas no js -->
                    
                </ul>

              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="button" id="btnSaveTransacao"class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalAddCarteira" tabindex="-1" role="dialog" aria-labelledby="modalTransacoesLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="modalTransacoesLabel">Adicionar Carteira</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
          </div>
          <div class="modal-body">
                  <div class="mb-3">
                      <label for="kmAtuais_abastecimento" class="form-label">Nome</label>
                      <input type="text" class="form-control" id="txt_nome_carteira" required>
                  </div>
                  <div class="mb-3">
                      <label for="precoCombustivel" class="form-label">Saldo</label>
                      <input type="text" class="form-control" id="txt_saldo_carteira" required>
                  </div>
                <div class="mb-3">
                  <label for="tipoCombustivel" class="form-label">Adicionar amigos</label>
                  <input type="text" class="form-control" id="amigos" required>
              </div>

            </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
              <button type="button" id="btnSaveCarteira"class="btn btn-primary">Salvar</button>
          </div>
      </div>
  </div>
</div>

<button class="btn btn-primary" id="btnAbreModalTransacao"> Nova Transacao</button>
<button class="btn btn-primary" id="btnAbreModalCarteira"> Nova Carteira</button>
<button class="btn btn-primary" id="btnAbreModalEditCarteira"> Editar Carteira</button>
<button class="btn btn-primary" id="btnImportExcelCarGest"> import Excel CarGest</button>
  

  <!-- Link para o arquivo JavaScript do Bootstrap (opcional, mas alguns recursos do Bootstrap podem precisar disso) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Obtenha o contexto do canvas
    var ctx = document.getElementById("meuGrafico").getContext("2d");

    // Deficao dos dados do gráfico
    var data = {
        labels: ["Janeiro", "Fevereiro", "Março", "Abril", "Maio"],
        datasets: [{
            label: "Vendas",
            data: [50, 60, 70, 65, 80],
            backgroundColor: "rgba(27, 113, 247, 0.2)",
            borderColor: "rgba(27, 114, 249, 0.2)",
            borderWidth: 1
        }]
    };

    // Defina as opções do gráfico (personalize conforme necessário)
    var options = {
        responsive: true,
        maintainAspectRatio: false
    };

    // Crie o gráfico
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: data,
        options: options
    });
});




    $(document).ready(function() {
        $('#btnVerBalanco').on('click', function() {
          /* Aqui tens de criar um grafico para mostrar no modal, se calhar podes usar só 1 modal */
            var modalBalanco = new bootstrap.Modal(document.getElementById('modalBalanco'));
            $.ajax({
            type: "POST",
            url: "/verValanco*/",
            data: {
              csrfmiddlewaretoken: '{{csrf_token}}',
              opcao:1,
        },
          success: function (response) {
           console.log("response --> ",  response)
           var ctx = document.getElementById("meuGrafico").getContext("2d");
           var data = {
                labels: Object.keys(response["media"]),
                datasets: [{
                    label: "Consumo medio",
                    data: Object.values(response["media"]).map(Number),
                    backgroundColor: "rgba(27, 113, 247, 0.2)",
                    borderColor: "rgba(27, 114, 249, 0.2)",
                    borderWidth: 1
                }]
            };
            // Defina as opções do gráfico (personalize conforme necessário)
            var options = {
                responsive: true,
                maintainAspectRatio: false
            };
            // Crie o gráfico
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: data,
                options: options
            });
            modalBalanco.show();

          }
        });


        });


        $('#btnVerTransacaoRecente').on('click', function() {
          /* Aqui tens de criar uma tabela para mostrar no modal */
          var modalTransacoes = new bootstrap.Modal(document.getElementById('modalTransacoes'));
          $.ajax({
            type: "POST",
            url: "/transacoesRecentesJson*/",
            data: {
              csrfmiddlewaretoken: '{{csrf_token}}',
              opcao:0, //OPÇ 0 para a func retornar json para colocar na tabela
        },
        success: function (response) {
            var table = $('<table>').addClass('display');
            var thead = $('<thead>');
            var tbody = $('<tbody>');

            // Cabeçalho da tabela
            var headerRow = $('<tr>');
            headerRow.append($('<th>').text('KM andados'));
            headerRow.append($('<th>').text('Litros'));
            headerRow.append($('<th>').text('€/combustivel'));
            headerRow.append($('<th>').text('€ total'));
            headerRow.append($('<th>').text('data'));

            thead.append(headerRow);
            table.append('</tr></thead>');

            // Linhas de dados com base na resposta da requisição
            for (var i = 0; i < response["abastecimentos"].length; i++) {
            console.log("resposta-> ", response["abastecimentos"])

                var dataRow = $('<tr style="text-align: center">');
                dataRow.append($('<td>').text(response["abastecimentos"][i].km_atuais_carro));
                dataRow.append($('<td>').text(response["abastecimentos"][i].litros));
                dataRow.append($('<td>').text(response["abastecimentos"][i].preco_combustivel));
                dataRow.append($('<td>').text(response["abastecimentos"][i].valor_pago));
                dataRow.append($('<td>').text(response["abastecimentos"][i].data));
                tbody.append(dataRow);
                table.append('</tr>');
            }

            table.append('</tbody>')
            table.append(thead);
            table.append(tbody);

            // Adiciona a tabela ao modal
            $('#modalBalanco .modal-body').html(table);

            modalTransacoes.show();
        }
        });
        });


        $('#btnVerHistoricoTransacoes').on('click', function() {
            /* Aqui tens de criar um grafico para mostrar no modal */
            var modalBalanco = new bootstrap.Modal(document.getElementById('modalBalanco'));
            modalBalanco.show();
        });


        $('#btnVerHistoricoGastos').on('click', function() {
          /* Aqui tens de criar uma tabela para mostrar no modal */
            var modalTransacoes = new bootstrap.Modal(document.getElementById('modalTransacoes'));
            modalTransacoes.show();
        });


        $('#btnVerAgendaGastos').on('click', function() {
          /* Aqui tens de criar uma tabela para mostrar no modal */
            var modalTransacoes = new bootstrap.Modal(document.getElementById('modalTransacoes'));
            modalTransacoes.show();
        });

        /*          CODIGO PARA ADICIONAR/EDITAR TRANSAÇÕES        */
        $('#btnAbreModalTransacao').on('click', function() {
            /* Aqui tens de criar um grafico para mostrar no modal */
            var modalAddTransacao = new bootstrap.Modal(document.getElementById('modalAddTransacao'));
            modalAddTransacao.show();
        });

        $dropdown.on('click', 'li', function() {
          carroId = $(this).data('carro-id');
          /* ESTA VAR vem da view quando abres a pagina, tens de passar os ids das carteiras associadas
          */
      });

        $('#btnSaveTransacao').on('click', function() {
            /* Aqui tens de criar um grafico para mostrar no modal */
            var  id_carteira = carroId
            var descricao = $("#txt_descricao").val();
            var descricao = $("#txt_custo").val();
            var descricao = $("#txt_quantidade").val();
            /* falta ajax */
        });

        /*          CODIGO PARA ADICIONAR/EDITAR CARTEIRAS        */

        $('#btnAbreModalCarteira').on('click', function() {
            /* Aqui tens de criar um grafico para mostrar no modal */
            var modalAddCarteira = new bootstrap.Modal(document.getElementById('modalAddCarteira'));
            modalAddCarteira.show();
        });

        $('#btnSaveCarteira').on('click', function() {
            /* Aqui tens de criar um grafico para mostrar no modal */
            var nome_carteira = $("#txt_nome_carteira").val();
            var nome_carteira = $("#txt_saldo_carteira").val();
            var nome_carteira = $("#amigos").val();
            /* falta ajax */

        });

    // Função para alternar a visibilidade das opções de navegação
    function toggleNavigation() {
      var navOptions = document.getElementById("navOptions");
      var usernameLabel = document.getElementById("usernameLabel");
      var toggleNavButton = document.getElementById("toggleNavButton");

      if (navOptions.style.display === "none") {
        $("#navOptions").slideToggle("slow");
        navOptions.style.display = "block";
        usernameLabel.style.display = "none";
        toggleNavButton.innerHTML = `<i class="fas fa-bars"></i>`;
       

      } else {
        $("#navOptions").slideToggle("slow");
        setTimeout(function() {
          usernameLabel.style.display = "inline";
        toggleNavButton.innerHTML = `<i class="fas fa-bars"></i>`;
        }, 500);
     



      }
    }
    // Adiciona o evento de clique no botão para chamar a função de alternar
    document.getElementById("toggleNavButton").addEventListener("click", toggleNavigation);

    
})
  </script>
</body>

</html>
